a:LINK{
	font-size: 24px;
	color:red;
	font-family:华文行楷;
	text-decoration: none;
}

a:HOVER{
	text-decoration:underline;
	font-size: 40px;
	font-family: 宋体;
}

a:VISITED {
	color:gray;
}